<template>
<div>
<v-card
    :to="'/campaign/'+campaign.id"
>
      <v-img
        class="align-end text-white"
        height="200px"
        :src="campaign.image
        ?  campaign.image 
        : 'https://e7.pngegg.com/pngimages/829/733/png-clipart-logo-brand-product-trademark-font-not-found-logo-brand.png'
        "
        cover
      > 
    </v-img>
        <v-card-title class="fill-height align-end"
        v-text="campaign.title">
        </v-card-title>
      <v-card-actions>
        <v-progress-linier 
            v-model="progress"
            color="cyan"
            height="7">
            
         </v-progress-linier>
      </v-card-actions>

      <v-card-actions>
        <v-icon>
            mdi-cash
        </v-icon>
        <span>
               Rp.{{ campaign.required.toLocaleString('id-ID') }}
        </span>
        <v-spacer></v-spacer>
                <span>
                    {{ progress }} %
                </span>
      </v-card-actions>
    </v-card>
    </div>
</template>
<script>
export default {
    props:["campaign"],
    computed:{
        progress(){
            return(this.campaign.collected / this.campaign.required) *100;
        },
    }
};
</script>