<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div id="app" class="container">
        <div class="row">
            <div class ="col">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Address</th>
                        <th scope="col">Required</th>
                        <th scope="col">Collected</th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="campaign of campaigns">
                        <td>{{campaign.title}}</td>
                        <td>{{campaign.description}}</td>
                        <td>{{campaign.address}}</td>
                        <td>{{campaign.required}}</td>
                        <td>{{campaign.collected}}</td>
                        <td>
                        <img width="100" :src="campaign.image ? domainphoto + campaign.image:'https://cdn-2.tstatic.net/banjarmasin/foto/bank/images/404-not-found-error_20170222_103510.jpg'">
                    </td>
                        <td>
                            <button @click="editCampaign(campaign)">Edit</button>
                            <button @click="deleteCampaign(campaign.id)" class="btn btn-warning">Delete</button>
                            <button @click="uploadphoto(campaign)" class="btn btn-info">Update Foto</button>
                        </td>
                    </tr>
                    </tbody>
                  </table>
            </div>
            <div class ="col">
                <form @submit.prevent="submitCampaigne">
                    <p v-if="errors.length">
                       <ul>
                        <li v-for="error in errors">{{errors}}</li>
                       </ul> 
                    </p>
                    
                        <div class="form-group">
                          <label>Title</label>
                          <input :disabled="buttonStatus== 'upload'" type="text"  v-model="title" class="form-control">
                        
                        <label>Description</label>
                          <textarea :disabled="buttonStatus== 'upload'" cols="30" rows="10" v-model="description"  class="form-control"></textarea>

                        
                        <label>Address</label>
                          <input :disabled="buttonStatus== 'upload'" type="text"  v-model="address" class="form-control">
                        
                        <label>Required</label>
                          <input :disabled="buttonStatus== 'upload'" type="number" v-model="required"   class="form-control">
                        
                        <label>Collected</label>
                          <input :disabled="buttonStatus== 'upload'" type="number" v-model="collected" class="form-control">
                        </div>
                      
                        <div v-if="buttonStatus =='submit'">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        <div v-else-if ="buttonStatus =='update'">
                            <button type="button" @click="updateCampaign(idEditCampaign)" class="btn btn-info mx-2"> update</button>
                            <button type="button" @click="clearForm()" class="btn btn-danger"> reset</button>
                        </div>
                        <div v-else-if ="buttonStatus =='upload'">
                            <input type ="file" class="form-control" name="image" ref="photo">
                            <button type="button" @click="updatephoto(idUploadCampaign)" class="btn btn-info mx-2"> Upload</button>
                            <button type="button" @click="clearForm()" class="btn btn-danger"> reset</button>
                        </div>    
      
                </form>
            </div>
 
        </div>

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue
      
        createApp({
          data() {
            return {
              title:"",
              description:"",
              address:"",
              required:"",
              collected:"",
              errors:[],
            domain:'http://localhost:8000/',
            domainphoto:'http://localhost:8000',
            campaigns:[],
            buttonStatus:'submit',
            idEditCampaign:null,
            idUploadCampaign:null,    
        }
          },

          components: {
                UserComponent
                        },

          methods:{
            validationForm(){
                this.errors = []
               
                if(this.title.length < 5){
                    this.errors.push('title harus lebih dari 5')
                }
                if(this.description.length < 5){
                    this.errors.push('description harus lebih dari 5')
                }
            },
            clearForm:function(){
                this.title ="",
                this.description ="",
                this.address ="",
                this.required ="",
                this.collected ="",
                this.buttonStatus='submit',
                this.idEditCampaign=null
            },
            getCampaign(){
                const config = {
                        method : 'get',
                        url :this.domain +'api/campaign'
                    }
                    axios(config)
                    .then((response)=> {
                console.log(response);
                this.campaigns=response.data.data.campaign
                })
                .catch((error)=> {
                console.log(error);
                });    
            },
            editCampaign(campaign){
                this.title = campaign.title,
                this.description = campaign.description,
                this.address = campaign.address,
                this.required = campaign.required,
                this.collected = campaign.collected
                this.idEditCampaign = campaign.id,
                this.buttonStatus = 'update'
            },
            updatephoto(id){
                let file = this.$refs.photo.files[0]

                let formData = new FormData();
                formData.append('title',this.title);
                formData.append('description',this.description);
                formData.append('address',this.address);
                formData.append('required',this.required);
                formData.append('collected',this.collected);
                formData.append('image',file);

                const config = {
                        method : 'post',
                        url :this.domain + `api/campaign/${id}`,
                        params:{_method: 'PUT'}, 
                        data : formData
                    }
                    axios(config)
                .then((response)=> {
                //console.log(response);
                this.clearForm()
                this.getCampaign()
                alert(response.data.response_message)
                })
                .catch((error)=> {
                console.log(error);
                });

            },

            updateCampaign(id){
                let formData = new FormData()
                formData.append('title',this.title)
                formData.append('description',this.description)
                formData.append('address',this.address)
                formData.append('required',this.required)
                formData.append('collected',this.collected)
                
                if(this.errors.length ===0){
                    const config = {
                        method : 'post',
                        url :this.domain + `api/campaign/${id}`,
                        params:{_method: 'PUT'}, 
                        data : formData
                    }
                    axios(config)
                .then((response)=> {
                //console.log(response);
                this.clearForm()
                this.getCampaign()
                alert(response.data.response_message)
                })
                .catch((error)=> {
                console.log(error);
                });
            }
            },

            deleteCampaign(id){
                const config = {
                        method : 'post',
                        url :this.domain + `api/campaign/${id}`,
                        params:{_method: 'DELETE'}
                    }
                    axios(config)
                .then((response)=> {
                console.log(response);
                this.getCampaign()
                alert(response.data.response_message)
                })
                .catch((error)=> {
                console.log(error);
                });
            },

            uploadphoto(campaign){
                this.title = campaign.title,
                this.description = campaign.description,
                this.address = campaign.address,
                this.required = campaign.required,
                this.collected = campaign.collected
                this.idUploadCampaign = campaign.id,

                this.buttonStatus = 'upload'
            },
             
            submitCampaigne(){
                this.validationForm();
                let formData = new FormData()
                formData.append('title',this.title)
                formData.append('description',this.description)
                formData.append('address',this.address)
                formData.append('required',this.required)
                formData.append('collected',this.collected)
                
                if(this.errors.length ===0){
                    const config = {
                        method : 'post',
                        url :this.domain +'api/campaign',
                        data : formData
                    }
                    axios(config)
                .then((response)=> {
                //console.log(response);
                this.clearForm()
                alert(response.data.response_message)
                })
                .catch((error)=> {
                console.log(error);
                });

                
                }
            }

          },
          created(){
            this.getCampaign()
          }
        }).mount('#app')
      </script>
</body>
</html>