<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>Document</title> 
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="data in animals ">
                {{data}}
            </li>
        </ul>
        <ul>
            <li v-for="bio in people">
                <div v-for="(value, key) in bio">
                    {{key}} : {{value}}
              </div>
            </li>
        </ul>
    </div>
    <script>
        
        let vm = Vue.createApp({
            data() {
                return{
                    animals: ['Kucing', 'Kelinci', 'Ayam', 'Anggsa'],
                    people: [
                { name: 'Rezky', age: 26 },
                { name: 'Andi', age: 18 },
                { name: 'Budi', age: 33 }
            ]
            }
            }
        }).mount('#app')
    </script>
</body>
</html>