<template>
<div>
    <v-alert
  :type="alert.alert_variant"
  v-if="alert.show_alert"
  class="my-2"
  >
  {{alert.alert_msg}}
</v-alert>
    <v-card color="white">
        <v-card-title>
            {{
            statusButton=="tambah" 
            ? "Create campaign" 
            : "Update campaign"
            }}
        </v-card-title>
        <v-divider>
        </v-divider>
        <v-card-text>
        <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
                v-model="campaign.title"
                :rules="titleRules"
                label="Title"
                type ="Title"
                required
            ></v-text-field>

            <v-text-field
                v-model="campaign.required"
                :rules="requiredRules"
                label="Required"
                type="number"
            ></v-text-field>
            <v-textarea
                v-model="campaign.description"
                :rules="descriptionRules"
                label="Description"
            >
            </v-textarea>
            <v-textarea
                v-model="campaign.address"
                :rules="addressRules"
                label="Address"
            >
            </v-textarea>
            <v-text-field
                v-model="campaign.image"
                label="Image"
                type="file"
                name="image"
                ref="image"
            ></v-text-field>
                
            <v-btn 
                color="primary"
                block      
                class="mr-4"
                @click="Submit"
                >
                {{ statusButton }}
                </v-btn>
            </v-form>

        </v-card-text>
    </v-card>
</div>
</template>
<script>
import {useUserStore} from "@/store/user";
export default{
  setup(){
    const userStore = useUserStore();
     return {userStore}
  },
  emits:["closed","reload"],
  props:{
    statusButton:{
        type: String,
        default:null,
    },
    campaignItem:{
        type: Object,
        default:null
    }
  },
  created(){
    if(this.campaignItem){
        this.campaign={
            title:this.campaignItem.title,
            required: this.campaignItem.required,
            description: this.campaignItem.description,
            address:this.campaignItem.address,
            collected:this.campaignItem.collected

        }
    }
  },
  data(){
    return{
    alert:{
        show_alert:false,
        alert_variant:"",
        alert_msg:null
      },
    campaign:{
        title:"",
        required:"",
        address:"",
        description:"",
        collected:0,

    },
    valid:true,
    titleRules: [(v)=>!!v || 'Password is required'],
    requiredRules: [(v)=>!!v || 'input is required'],
    addressRules: [(v)=>!!v || 'address is required'],
    descriptionRules: [(v)=>!!v || 'descripstion is required'],

};

  },
  methods:{
    async Submit () {
        const { valid } = await this.$refs.form.validate()

        if (valid) {
     
            this.alert.show_alert = true;
            this.alert.alert_variant="warning";
            this.alert.alert_msg="please wait";
            try {
                const token = this.userStore.token;
                let image = this.$refs.image.files[0];
                let formData= new FormData();
                formData.append("title",this.campaign.title);
                formData.append("description",this.campaign.description);
                formData.append("address",this.campaign.address);
                formData.append("required",this.campaign.required);
                formData.append("collected",this.campaign.collected);
                
                if(image !=undefined){
                    formData.append('image',image)
                }
                if(this.statusButton==="tambah"){
                    const config ={
                      headers:{ Authorization : 'Bearer ${token}'},
                         }
                      const DataResponse = await axios.post(
                        "/api/campaign",
                      formData,
                      config);
                        this.alert.show_alert = true;
                        this.alert.alert_variant="success";
                        this.alert.alert_msg=DataResponse.data.response_message;
                 }else{
                    const config ={
                      headers:{ Authorization : 'Bearer ${token}'},
                      params:{_method:"PUT"},
                        };
                    const DataResponse = await axios.post(
                        `/api/campaign/${this.campaignItem.id}`,
                      formData,
                      config);  
                        this.alert.show_alert = true;
                        this.alert.alert_variant="success";
                        this.alert.alert_msg=DataResponse.data.response_message;
                        

                }
            this.close();
            } catch (error) {
                console.log(error);
            }
        }
},
async close(){
    await this.$emit("reload");
    await this.$emit("closed");
}
}
}
</script>