<template>
    <v-card
      class="mx-auto"
      max-width="600"
    >
      <v-img
        class="align-end text-white"
        height="400"
        :src="campaignItem.image
        ? imageURL+campaignItem.image 
        : 'https://e7.pngegg.com/pngimages/829/733/png-clipart-logo-brand-product-trademark-font-not-found-logo-brand.png'
        "
        cover
      > 
        <v-card-title>{{campaignItem.title}}</v-card-title>
      </v-img>
  
      <v-card-subtitle class="pt-4">
        <v-icon color="red">mdi-map-marker</v-icon> 
        {{ campaignItem.address }}
      </v-card-subtitle>
  
      <v-card-text>
        <div>{{ campaignItem.description }}</div>
      </v-card-text>
  
      <v-card-actions>
        <v-btn color="info">required {{ campaignItem.required }}
        </v-btn>
  
        <v-btn color="success">
            {{ campaignItem.collected }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </template>
<script>
export default{
    props:{
        campaignItem: Object,
    },
    data(){
        return{
            imageURL:"http://localhost:8000",

        }
    }
};
</script>