<template>
<v-card class="mx-auto" width="1000" prepend-icon="md-hand-heart">
<template v-slot:title>Campaign</template>
<v-card-text>
<list-campaign :campaign="campaign" @reload="getCampaign"/>  
</v-card-text>
</v-card>
</template>
<script>
import ListCampaign from "../components/campaign/listCampaign.vue";
// import tabAuth from './components/auth/tabAuth.vue';
import {useUserStore} from "@/store/user";
export default{
  setup(){
    const userStore = useUserStore();
    return {userStore}
  },
    components:{

    ListCampaign,
  },
  data(){
    return{
      campaign:[]
    }
  },
  methods:{
    async getCampaign(){
      try{
        const token = this.userStore.token;
        const config ={
          headers:{ Authorization : 'Bearer ${token}'},
        }
        const data = await axios.get('/api/campaign',config);
        this.campaign=data.data.data.campaign;
        console.log(data);
      }catch(errror){
        console.log(error);
      }
    }
    },
    created (){
      this.getCampaign();
    }
};
</script>