<template>
  <v-card color="white">  
    <div>
      <v-alert
      :type="alert.alert_variant"
      v-if="alert.show_alert"
      class="my-2"
      >
      {{alert.alert_msg}}
    </v-alert>
    </div>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-text-field
        v-model="campaign.title"
        :rules="titleRules"
        label="title"
        type ="text"
        required
      ></v-text-field>

      <v-text-field
      v-model="campaign.description"
        :rules="descRules"
        label="description"
        type ="text"
        required
      ></v-text-field>
    

      <v-text-field
        v-model="campaign.address"
        :rules="addressRules"
        label="address"
        type = "text"
        required
        ></v-text-field>

        <v-text-field
        v-model="campaign.image"
        label="image"
        type = "text"
        required
        ></v-text-field>
        
        <v-text-field
        v-model="campaign.required"
        :rules="requiredRules"
        label="required"
        type = "number"
        required
        ></v-text-field> 

        <v-text-field
        v-model="campaign.collected"
        :rules="collectedRules"
        label="collected"
        type = "number"
        required
        ></v-text-field> 


    
        <v-btn
          color="success"
          class="mr-4"
          block
          @click="createSubmit"
        >
          create
        </v-btn>
    </v-form>

    </v-card>
    </template>
    <script>
    import{useCampaignStore}from '@/store/campaign.js';
      export default {
        emits:["closeDialog"],
        setup(){
            const campaignStore = useCampaignStore();
            return {campaignStore};
          },
        data(){
            return{
          //alert 
          alert:{
            show_alert:false,
            alert_variant:"",
            alert_msg:null
          },
          valid: true,
          campaign:{
            title:"",
            address: "",
            description:"",
            image:"",
            required:"",
            collected:"",
          },
          titleRules: [ (v) => !!v || 'Name is required'], 
          descRules: [ (v) => !!v || 'descripsi is required'], 
          addressRules: [ (v) => !!v || 'address is required'], 
          requiredRules: [ (v) => !!v || 'required is required'], 
          collectedRules: [ (v) => !!v || 'collected is required'], 
          
    };
   },
    
        methods: {
            async createSubmit () {
            const { valid } = await this.$refs.form.validate()
            if (valid) {
                this.alert.show_alert=true;
          this.alert.alert_variant="warning";
          this.alert.alert_msg="please wait";
          try{
            const createcamp= await axios.post(
              "api/campaign",
            this.campaign
            );

          this.alert.show_alert = true;
          this.alert.alert_variant="success";
          this.alert.alert_msg=createcamp.data.response_message;
          const dataCampaign=createcamp.data.campaign;
          const token=createcamp.data.token;
          await this.campaignStore.setCampaign(dataCampaign, token);   
          this.$router.push("/campaign");
           this.$emit("closeDialog");

        }catch(error){
            console.log(error);
        }
    }
}
             
}
      };
    </script>